cmake-build-*
.vs/
.vscode/
Debug/
Release/
x64/
backup/
/PhysWikiScan*
NoteScan*
*.vcxproj.user
npm-debug.log
data/*.txt
data/*.matt
*.db
*.db-journal
*.sql
!data/scan-template.sql
cmake-build-physwikiscan/
CMakeCache.txt
*.cmake
CMakeFiles/
.idea/
*.o
file_add_del_git_diff_output.txt
file_add_del_tmp_file1.txt
file_add_del_tmp_file2.txt
dryrun.log
targets.log
scan_log.txt
