cmake-build-*
.vs/
.vscode/
Debug/
Release/
x64/
backup/
PhysWikiScan
*.vcxproj.user
npm-debug.log
data/*.txt
data/*.matt
*.db
*.db-journal
*.sql
!data/scan-template.sql
cmake-build-physwikiscan/
CMakeCache.txt
*.cmake
CMakeFiles/
.idea/workspace.xml
*.o
file_add_del_git_diff_output.txt
file_add_del_tmp_file1.txt
file_add_del_tmp_file2.txt
