[Unit]
Description=dump PhysWikiScan db

[Service]
ExecStart=/mnt/drive/PhysWikiScan/db_auto_dump.sh
ExecStop=/bin/kill $MAINPID
WorkingDirectory=/mnt/drive/PhysWikiScan/
Environment="HOME=/root/"
Restart=always


[Install]
WantedBy=multi-user.target
