[Unit]
Description=dump PhysWikiScan db

[Service]
ExecStart=/mnt/drive/PhysWikiScan/data/db_auto_dump.sh
ExecStop=/bin/kill $MAINPID
WorkingDirectory=/mnt/drive/PhysWikiScan/data/
Environment="HOME=/root/"
Restart=always

[Install]
WantedBy=multi-user.target
