[Unit]
Description=commit PhysWiki-backup

[Service]
ExecStart=/mnt/drive/PhysWiki-backup/auto_commit.sh
ExecStop=/bin/kill $MAINPID
WorkingDirectory=/mnt/drive/PhysWiki-backup/
Restart=always

[Install]
WantedBy=multi-user.target
