<!DOCTYPE html>
<html>

<head>
   <meta charset="UTF-8">
   <title>编辑中词条</title>
   <link rel="stylesheet" href="https://wuli.wiki/changed/w3.css">
   <link rel="stylesheet" href="https://wuli.wiki/changed/my.css?v=20200327">
   <link rel="stylesheet" href="https://wuli.wiki/assets/Font-Awesome-4.7.0/css/font-awesome.min.css">
   <link rel=apple-touch-icon sizes=180x180 href="https://wuli.wiki/assets/img/apple-touch-icon.png">
   <link rel=icon type=image/png href="https://wuli.wiki/assets/img/favicon-32x32.png" sizes=32x32>
   <link rel=icon type=image/png href="https://wuli.wiki/assets/img/favicon-16x16.png" sizes=16x16>
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <!--MathJax-->
   <script>
      MathJax = {
         tex: {
            inlineMath: [['$','$'], ['\\(','\\)']],
            processEscapes: true,
            tags: 'ams',
         },
      };
   </script>
   <script type="text/javascript" async src="https://wuli.wiki/MathJax3/es5/tex-mml-chtml.js"></script>

   <!--禁止鼠标中键滚动-->
   <script src="https://wuli.wiki/assets/img/hero/jquery3.4.1.min.js"></script>
   <script>
      $(function() {
         $('body').mousedown(function(e){if(e.button==1)return false});
      });
   </script>
</head>

<body class="w3-light-gray">
<div class="w3-content w3-card-4 w3-white" style="max-width:800px;">

<img src = "../title.png?v=20200330" alt = "图" style = "width:100%;">
<div class = "w3-container w3-center w3-blue w3-text-white" style="margin-top: -3px;">
<h1>编辑中词条</h1>
</div>

<div class = "w3-container"><p>
<a href = "misc/license.html" target = "_blank">版权声明</a>　
<a href = "misc/about.html" target = "_blank">项目介绍</a>　
<a href = "misc/readme.html" target = "_blank">读者使用说明</a>　
<a href = "../editor" target = "_blank">编辑词条</a>　
<a href = "../">返回主页</a>

<div class="w3-content" style="max-width:400px;">
	<a href="../tree"><img src="https://wuli.wiki/assets/img/hero/tree.png?v=20210816" style="width:100%;" alt="知识树"></a><br>
</div>
<br>

PhysWikiHTMLbody
<div class = "w3-container w3-gray">
	<p><a href = "../">返回主页</a>　<a href = "https://wuli.wiki/donate.html">打赏</a></p>
</div>

</div>
</body>
</html>
