<!DOCTYPE html>
<html>

<head>
   <meta charset="UTF-8">
   <title>参考文献 - 小时百科</title>
   <meta name="keywords" content="小时百科">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://wuli.wiki/online/w3.css">
   <link href="https://wuli.wiki/prism.css?v=20200608" rel="stylesheet"/>
   <link rel="stylesheet" href="https://wuli.wiki/online/my.css?v=20200327">
   <link rel="stylesheet" href="https://wuli.wiki/assets/Font-Awesome-4.7.0/css/font-awesome.min.css">
   <link rel=apple-touch-icon sizes=180x180 href="https://wuli.wiki/assets/img/apple-touch-icon.png">
   <link rel=icon type=image/png href="https://wuli.wiki/assets/img/favicon-32x32.png" sizes=32x32>
   <link rel=icon type=image/png href="https://wuli.wiki/assets/img/favicon-16x16.png" sizes=16x16>

   <!--MathJax-->
   <script>
      MathJax = {
         tex: {
            inlineMath: [['$','$'], ['\\(','\\)']],
            processEscapes: true,
            tags: 'ams',
         },
      };
   </script>
   <script type="text/javascript" async src="https://wuli.wiki/MathJax3/es5/tex-mml-chtml.js"></script>

   <!--禁止鼠标中键滚动-->
   <script src="https://wuli.wiki/assets/img/hero/jquery3.4.1.min.js"></script>
   <script>
      $(function() {
         $('body').mousedown(function(e){if(e.button==1)return false});
      });
   </script>
   
   <!--百度统计-->
   <script>
      var _hmt = _hmt || [];
      (function() {
         var hm = document.createElement("script");
         hm.src = "https://hm.baidu.com/hm.js?3c7614be3026469d5a60f41ab30b5082";
         var s = document.getElementsByTagName("script")[0]; 
         s.parentNode.insertBefore(hm, s);
         })();
   </script>
</head>

<body class="w3-light-gray">
<script src="https://wuli.wiki/prism.js?v=20200608"></script>
<div class="w3-content w3-card-4 w3-white" style="max-width:800px;">

<div class = "w3-container w3-center w3-blue w3-text-white" style="margin-top: -3px;">
<h1>PhysWikiBibTitle</h1>
</div>

<div class = "w3-container">
<p style="text-align:right; margin-top:0px; margin-bottom:-10px; margin-right:0px; font-size:18px;">
   <a href = "https://wuli.wiki/online/" title="返回目录"><i class="fa fa-bars" style="color:rgb(33,150,243)"></i></a>&nbsp
   <a href = "https://wuli.wiki" title="返回主页"><i class="fa fa-home" style="color:rgb(33,150,243)"></i></a>&nbsp
   <a href = "https://wuli.wiki/donate.html" title="打赏"><i class="fa fa-heart" style="color:rgb(33,150,243)"></i></a>
</p>

<p>
PhysWikiBibList
</p>

</div>
<div class = "w3-container w3-gray"><p>
   <a href = "https://wuli.wiki/online/" title="返回目录"><i class="fa fa-bars" style="color:rgb(33,150,243)"></i></a>&nbsp
   <a href = "https://wuli.wiki" title="返回主页"><i class="fa fa-home" style="color:rgb(33,150,243)"></i></a>&nbsp
   <a href = "https://wuli.wiki/donate.html" title="打赏"><i class="fa fa-heart" style="color:rgb(33,150,243)"></i></a><br>
   </p><p><a href="https://wuli.wiki">© 小时百科 保留一切权利</a></p>
</div>

</div>
</body>
</html>
