<!DOCTYPE html>
<html>

<head>
   <meta charset="UTF-8">
   <title>PhysWikiHTMLtitle - 小时百科</title>
   <meta name="keywords" content="PhysWikiHTMLKeywords">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://wuli.wiki/online/w3.css">
   <link href="https://wuli.wiki/prism.css?v=20200608" rel="stylesheet"/>
   <link rel="stylesheet" href="https://wuli.wiki/online/my.css?v=20240318">
   <link rel="stylesheet" href="https://wuli.wiki/assets/Font-Awesome-4.7.0/css/font-awesome.min.css">
   <link rel=apple-touch-icon sizes=180x180 href="https://wuli.wiki/assets/img/apple-touch-icon.png">
   <link rel=icon type=image/png href="https://wuli.wiki/assets/img/favicon-32x32.png" sizes=32x32>
   <link rel=icon type=image/png href="https://wuli.wiki/assets/img/favicon-16x16.png" sizes=16x16>

   <!--MathJax-->
   <script>
      MathJax = {
         tex: {
            inlineMath: [['$','$'], ['\\(','\\)']],
            processEscapes: true,
            tags: 'ams',
         },
      };
   </script>
   <script type="text/javascript" async src="https://wuli.wiki/MathJax3/es5/tex-mml-chtml.js"></script>

   <!--禁止鼠标中键滚动-->
   <script src="https://wuli.wiki/assets/img/hero/jquery3.4.1.min.js"></script>
   <script>
      $(function() {
         $('body').mousedown(function(e){if(e.button==1)return false});
      });
   </script>
   
   <!--百度统计-->
   <script>
      var _hmt = _hmt || [];
      (function() {
         var hm = document.createElement("script");
         hm.src = "https://hm.baidu.com/hm.js?3c7614be3026469d5a60f41ab30b5082";
         var s = document.getElementsByTagName("script")[0]; 
         s.parentNode.insertBefore(hm, s);
         })();
   </script>

   <!--Google AdSense-->
   <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2444631718088381"
     crossorigin="anonymous"></script>
</head>

<body class="w3-light-gray" id="content">
<script src="https://wuli.wiki/prism.js?v=20200608"></script>
<div class="w3-content w3-card-4 w3-white" style="max-width:900px;">

<div class = "w3-container w3-center w3-blue w3-text-white">
<h1>PhysWikiTitle</h1>
</div>

<div class = "w3-container">
<p style="text-align:right; margin-top:0px; margin-bottom:0px; margin-right:0px; font-size:18px;">
   <a href="PhysWikiLastEntryURL" title="PhysWikiLastTitle"><i class="fa fa-arrow-circle-left" style="color:rgb(33,150,243)"></i></a>&nbsp
   <a href="PhysWikiNextEntryURL" title="PhysWikiNextTitle"><i class="fa fa-arrow-circle-right" style="color:rgb(33,150,243)"></i></a>&nbsp
   <a href="javascript:void(0);" title="字体变小"><i class="fa fa-font" style="color:rgb(33,150,243);font-size:14px;" id="decreasetext"></i></a>&nbsp
   <a href="javascript:void(0);" title="字体变大"><i class="fa fa-font" style="color:rgb(33,150,243)" id="increasetext"></i></a>&nbsp
   <a href="https://wuli.wiki/tree/?target=PhysWikiLastNnodeId" target = "_blank"  title="知识树"><i class="fa fa-code-fork" style="color:rgb(33,150,243);font-size:21px"></i></a>&nbsp
   <a href="https://wuli.wiki/history/?PhysWikiEntry" target = "_blank"  title="编辑历史"><i class="fa fa-history" style="color:rgb(33,150,243)"></i></a>&nbsp
   <a href="https://wuli.wiki/book/PhysWikiEntry/comments" target = "_blank"  title="评论"><i class="fa fa-comment" style="color:rgb(33,150,243)"></i></a>&nbsp
   <a href="https://wuli.wiki/find/" target = "_blank"  title="全站搜索"><i class="fa fa-search" style="color:rgb(33,150,243)"></i></a>&nbsp
   <a href="https://wuli.wiki/editor/?entry=PhysWikiEntry" target = "_blank"  title="编辑词条"><i class="fa fa-edit" style="color:rgb(33,150,243)"></i></a>&nbsp
   <a href = "https://wuli.wiki/online/" title="返回目录"><i class="fa fa-bars" style="color:rgb(33,150,243)"></i></a>&nbsp
   <a href = "https://wuli.wiki" title="返回主页"><i class="fa fa-home" style="color:rgb(33,150,243)"></i></a>&nbsp
   <a href = "https://wuli.wiki/donate.html" title="打赏"><i class="fa fa-heart" style="color:rgb(33,150,243)"></i></a>
</p>
<p style="text-align:right; margin-top:0px; margin-bottom:-3px; margin-left:10px; margin-right:0px; font-size:14px;">贡献者： PhysWikiAuthorList</p>

PhysWikiHTMLbody

<br>
<div class = "w3-panel w3-round-large w3-pale-green"><b>致读者</b>： 小时百科一直以来坚持所有内容免费无广告，这导致我们处于严重的亏损状态。 长此以往很可能会最终导致我们不得不选择大量广告以及内容付费等。 因此，我们请求广大读者<a href="https://wuli.wiki/donate.html"><b>热心打赏</b> <i class = "fa fa-external-link"></i></a>，使网站得以健康发展。 如果看到这条信息的每位读者能慷慨打赏 20 元，我们一周就能脱离亏损， 并在接下来的一年里向所有读者继续免费提供优质内容。 但遗憾的是只有不到 1% 的读者愿意捐款， 他们的付出帮助了 99% 的读者免费获取知识， 我们在此表示感谢。
</div>
</div>
<div class = "w3-container w3-gray" style="margin-top:-3px;"><p>
   <a href="PhysWikiLastEntryURL" title="PhysWikiLastTitle"><i class="fa fa-arrow-circle-left" style="color:rgb(33,150,243)"></i></a>&nbsp
   <a href="PhysWikiNextEntryURL" title="PhysWikiNextTitle"><i class="fa fa-arrow-circle-right" style="color:rgb(33,150,243)"></i></a>&nbsp
   <a href="javascript:void(0);" title="字体变小"><i class="fa fa-font" style="color:rgb(33,150,243);font-size:14px;" id="decreasetext"></i></a>&nbsp
   <a href="javascript:void(0);" title="字体变大"><i class="fa fa-font" style="color:rgb(33,150,243)" id="increasetext"></i></a>&nbsp
   <a href="https://wuli.wiki/tree/?target=PhysWikiLastNnodeId" target = "_blank"  title="知识树"><i class="fa fa-share-alt" style="color:rgb(33,150,243)"></i></a>&nbsp
   <a href="https://wuli.wiki/history/?PhysWikiEntry" target = "_blank"  title="编辑历史"><i class="fa fa-history" style="color:rgb(33,150,243)"></i></a>&nbsp
   <a href="https://wuli.wiki/book/PhysWikiEntry/comments" target = "_blank"  title="评论"><i class="fa fa-comment" style="color:rgb(33,150,243)"></i></a>&nbsp
   <a href="https://wuli.wiki/find/" target = "_blank"  title="全站搜索"><i class="fa fa-search" style="color:rgb(33,150,243)"></i></a>&nbsp
   <a href="https://wuli.wiki/editor/?entry=PhysWikiEntry" target = "_blank"  title="编辑词条"><i class="fa fa-edit" style="color:rgb(33,150,243)"></i></a>&nbsp
   <a href = "https://wuli.wiki/online/" title="返回目录"><i class="fa fa-bars" style="color:rgb(33,150,243)"></i></a>&nbsp
   <a href = "https://wuli.wiki" title="返回主页"><i class="fa fa-home" style="color:rgb(33,150,243)"></i></a>&nbsp
   <a href = "https://wuli.wiki/donate.html" title="打赏"><i class="fa fa-heart" style="color:rgb(33,150,243)"></i></a><br>
   </p>
   <!-- <p>如果您喜欢小时百科， 请考虑<a href = "https://wuli.wiki/donate.html" title="打赏">打赏</a>。</p> -->
   <p style="text-align:right; margin-top:-2px; margin-bottom:20px; margin-right:10px; font-size:14px;">
      友情链接： <a href="https://chaoli.club" target = "_blank">超理论坛</a>　|　<a href="https://wuli.wiki">©小时科技 保留一切权利</a>
   </p>
</div>

</div>

<script id="rendered-js" >
   // set something for mobile
   // if($(window).width() < 900){
   // }
   
	// Increase/descrease font size
	$('#increasetext').click(function () {
      curSize = parseInt($('#content').css('font-size')) + 2;
      if (curSize <= 32)
         $('#content').css('font-size', curSize);
	});

	$('#decreasetext').click(function () {
      curSize = parseInt($('#content').css('font-size')) - 2;
      if (curSize >= 8)
         $('#content').css('font-size', curSize);
	});
</script>
<!--会员内容-->
<script>
var elements = document.querySelectorAll(".pay");
elements.forEach(function(element) {
    element.innerHTML = "<div class = \"w3-panel w3-round-large w3-sand\">会员专享内容，<a href=\"../plans\" target=\"_blank\">开通会员</a>显示．</div><div style=\"display:none\">" + element.innerHTML + "</div>";
});
</script>
</body>
</html>
